<div>
  <table>
    <tr>
      <td>
        <h2>Teams</h2>
        <ul class="teams">
          <li *ngFor="let team of teams"
              (click)="onSelect(team)"
              [class.selected]="team === selectedTeam">
            <span class="badge">{{team.id}}</span> {{team.name}}
          </li>
        </ul>
      </td>
      <td>
        <div *ngIf="selectedTeam">
          <h2>
            {{selectedTeam.name | uppercase}}
          </h2>
          <button (click)="gotoDetail()">View Details</button>
        </div>
      </td>
    </tr>
  </table>
</div>


